.header-active {
	background: #FFFFFF !important;
}

.header-home-active {
	background: #48A835 !important;
}

@media only screen and (max-width: 428px) {
	.menu-item {
		position: relative;
	}

	.sub-menu {
		position: relative;
		display: block;
		font-weight: bold;
		padding: 8px 0 0 1rem;
		width: 100%;
		min-width: 18rem;
		border-radius: 1rem;
		transition: all 0s, all 0.5s linear;

		li {
			font-size: 12px;
			text-transform: uppercase;
			padding: 10px 0;
		}
	}
}

@media only screen and (min-width: 1366px) {
	.menu-item {
		position: relative;
	}

	.sub-menu {
		position: absolute;
		display: none;
		color: white !important;
		background: #3D9E26;
		font-weight: 300;
		padding: 12px;
		width: 100%;
		min-width: 18rem;
		border-radius: 1rem;
		transition: all 0s, all 0.5s linear;

		li {
			font-size: 12px;
			text-transform: uppercase;
			border-bottom: 1px solid white;
			padding: 6px 0;
		}
	}

	.menu-item:hover {
		.sub-menu {
			display: block;
		}
	}
}


.menu-default-menu-container {
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
}


.small-nav {
	width: 100%;
}

.post-service {
	text-transform: capitalize !important;
}

@media only screen and (max-width: 428px) {

	.menu-default-menu-container {
		.menu {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: start;
		}

		li {
			color: #15803D
		}
	}
}


.small-nav {
	transition: all 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.small-nav-active {
	left: 0 !important;
	transition: all 500ms cubic-bezier(0.4, 0.01, 0.165, 0.99);;
}

.active-nav {
	color: green;
	background: rgba(0, 128, 0, 0.11);
}

.active-slider, .active-slider-client, .active-btn-hero, .active-btn-client, .active-btn-milestone, .active-btn-inbound-blog, .active-btn-case-studies {
	background: green !important;
	border: 2px solid black;
}

.card-slider {
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.content-tab {
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

.active-indicator-article {
	background: #48A835 !important;
}

.active-tab-article {
	display: grid !important;
}

.slide-work-active, .slide-nav-active {
	opacity: 1 !important;
}

.ease-in-out {
	transition: all 500ms ease-in-out;
}

/** CONTENT OUR SERVICE **/
.indicator-top-active-service,
.indicator-bottom-active-service,
.active-btn-service {
	transition: all 0.5s ease-in-out;
}

.indicator-top-active-service {
	opacity: 1 !important;
}

.indicator-bottom-active-service {
	opacity: 1 !important;
	background: rgb(17, 150, 17) !important;
}

.active-service-tab {
	display: block;
}

.active-btn-service, .active-btn-article {
	background: #1F5D11 !important;
	transition: all 200ms ease-in-out;
	font-weight: 600 !important;
}

.tabs {
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

.active-tab-brief, .active-tab-article {
	display: grid !important;
	animation: fadeEffect 1s;
}


.progression-first li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.5rem;
	background: #48A835;
	top: 50%;
	left: 10%;
	z-index: -1;
}

.progression-second li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.5rem;
	background: #48A835;
	top: 50%;
	right: 10%;
	z-index: -1;
}

