:root {
	--primary-color: #43a71a;
	--secondary-color: #ccc;
	--primary-color-hover: #378b15;
	--secondary-color-hover: #ccc;
	--body-bg: #fafafa;
	--card-border-radius: 15px;
	--card-media-radius: 12px;
	--text-color: #5a6069;
	--excerpt-color: #84868b;
	--text-color-hover: #44484e;
	--header-link-color: #67696b;
	--header-link-color-hover: #1d1f21;
	--header-link-color-active: #1d1f21;
	--header-text-color: #2a2c2d;
	--body-font-size: 15px;
	--font-family: 'jp-wf', sans-serif;
}

